<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">
  <!-- LOGO -->
  <a href="index.html" class="logo text-center logo-light">
    <span class="logo-lg">
      <img src="{{credentials.logo}}" alt="" height="10" 
      class="img-fluid rounded-circle"/>
      
    </span>
    <span class="logo-sm">
      <img src="{{credentials.logo}}" alt="" height="10" 
      class="img-fluid rounded-circle"/>
    </span>
  </a>

  <!-- LOGO -->
  <a href="index.html" class="logo text-center logo-dark">
    <span class="logo-lg">
      <img src="/assets/images/asscatlogo.jpg" 
      class="img-fluid rounded-circle" alt="" height="10" />
      
    </span>
    <span class="logo-sm">
      <img src="/assets/images/asscatlogo.jpg" 
      class="img-fluid rounded-circle" alt="" height="10" />
    </span>
  </a>

  <div class="h-100" id="leftside-menu-container" data-simplebar>
    <!--- Sidemenu -->
    <ul class="side-nav">
      <li class="side-nav-title side-nav-item">Navigation</li>

      <li class="side-nav-item">
        <a
          href="/admin/dashboard"
          class="side-nav-link {{#if dashboard}}customize-active{{/if}}"
        >
          <i class="uil-home-alt"></i>
          <span> Dashboard </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a
          href="/admin/return-item"
          class="side-nav-link {{#if returnItem}}customize-active{{/if}}"
        >
          <i class="mdi mdi-cart-arrow-down"></i>
          <span> Return books </span>
        </a>
      </li>

      <li class="side-nav-item">
        <a href="/admin/products" class="side-nav-link">
          <i class="uil-store"></i>
          <span> Books </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a
          href="/admin/stocks"
          class="side-nav-link {{#if stocks}}customize-active{{/if}}"
        >
          <i class="mdi mdi-cart-outline"></i>
          <span>Book Stocks </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a
          href="/admin/users"
          class="side-nav-link {{#if usersActive}}customize-active{{/if}}"
        >
          <i class="uil-user"></i>
          <span> User/Employees </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a
          href="/admin/sales"
          class="side-nav-link {{#if salesActive}}customize-active{{/if}}"
        >
          <i class="mdi mdi-cart-check"></i>
          <span> Reports </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a
          href="/admin/logs"
          class="side-nav-link {{#if logsStudent}}customize-active{{/if}}"
        >
          <i class="mdi mdi-cart-check"></i>
          <span> Logs </span>
         
        </a>
      </li>
    </ul>
    <!-- End Sidebar -->
    <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->
